doctype 5
html(lang="en")
	head
		meta(charset="UTF-8")
		title Pure CSS Tooltips
		link(rel="stylesheet", href="style.css")
	body
		#wrapper
			header
				h1.tooltip-head Pure CSS tooltips
			article
				p
					| Lorem ipsum dolor sit amet,&nbsp;
					a(href="javascript:void(0)", tooltip="Default tooltip") top
					|  adipisicing elit. Consequuntur cupiditate est illum&nbsp;
					a(href="javascript:void(0)", tooltip="Tooltip on the bottom", tooltip-placement="bottom") bottom

				p.
					nesciunt quidem similique tempore unde voluptatem voluptatibus.
					Accusantium architecto asperiores, assumenda eius laboriosam magnam mollitia nisi quos?

				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit.&nbsp;
					a(href="javascript:void(0)", tooltip="Left positions", tooltip-placement="left") left
					|  earum exercitationem illo,
					| illum inventore laudantium nemo tempore voluptas! Blanditiis cumque distinctio dolor dolorum ex
					| facilis ipsa,&nbsp;
					a(href="javascript:void(0)", tooltip="Right positions", tooltip-placement="right") right
					|  magnam minus molestias mollitia nam, provident quaerat tenetur velit vero voluptate,
					| voluptatem voluptates. Accusamus eius fugiat illum recusandae veritatis. Accusamus, architecto, aut
					| consectetur eaque esse illo&nbsp;
					a(href="javascript:void(0)", tooltip="Tooltip on focus", tooltip-trigger="focus", tabindex="0") tooltip on focus
					|  ipsum labore minima molestiae&nbsp;
					a(href="javascript:void(0)", tooltip="Right tooltip on focus", tooltip-trigger="focus", tooltip-placement="right", tabindex="0") right tooltip on focus
					|  perspiciatis placeat quos repellendus
					| sint tempore veritatis voluptatum. Excepturi illo nulla qui sunt. Accusamus ad adipisci aliquam aperiam,
					| doloribus eligendi ex harum hic in ipsa iusto laboriosam magni nesciunt quasi qui quos recusandae
		a.fork(href="https://github.com/treeskar/pure-tooltip", target="_blank", title="Fork me on GitHub")
//form
//	label(for="on-hover") Name
//	input(type="text", id="on-hover", placeholder="tooltip on hover", tooltip="Tooltip on hover", tooltip-placement="right")
//
//	label(for="on-focus") Last name
//	input(type="text", id="on-focus", placeholder="tooltip on focus", tooltip="Tooltip on hover", tooltip-placement="right")
