@import "reset"

@mixin prefix($name, $arguments)
	#{$name}: $arguments
	-webkit-#{$name}: $arguments
	-moz-#{$name}: $arguments
	-o-#{$name}: $arguments

@mixin keyframe ($animation_name)
	@keyframes #{$animation_name}
		@content

	@-webkit-keyframes #{$animation_name}
		@content

	@-moz-keyframes #{$animation_name}
		@content

	@-o-keyframes #{$animation_name}
		@content

body
	background: url(img/bg.png) 0 0 #ddd
	font-family: Arial, Helvetica, sans-serif

#wrapper
	width: 70%
	margin: 2em auto
	text-align: center
	header
		border-bottom: 1px solid #ccc
		@include prefix(box-shadow, 0 1px 0 rgba(255,255,255,.8))
		margin-bottom: 2em
		h1.tooltip-head
			display: inline-block
			position: relative
			padding: .8em 2em
			background: rgba(0, 0, 0, 0.8)
			color: #FFF
			text-shadow: 1px 1px 0 #000
			margin: 1em 0
			font-size: 2em
			@include prefix(box-shadow, 0 0 1em rgba(0, 0, 0, 0.5))
			&:before
				content: ''
				position: absolute
				z-index: 1
				top: 100%
				left: 50%
				width: 1em
				height: 1em
				background: rgba(0, 0, 0, 0.2)
				@include prefix(border-radius, 50%)
				@include prefix(transform, translate(-50%, .5em))
			&:after
				content: ''
				display: block
				border: 1em solid transparent
				border-top-color: rgba(0, 0, 0, 0.8)
				position: absolute
				z-index: 2
				left: 50%
				top: 100%
				@include prefix(transform, translateX(-50%))
		color: #333
	p
		font-size: 120%
		text-align: left
		line-height: 160%
		margin: 1em 0
	form
		text-align: left
		padding: 1em 0
		border-top: 2px solid #ccc
		@include prefix(box-shadow, 0 -1px 0 #fff)
		label
			font-size: 1em
			margin: 0 1em
		input
			font-size: 1em
			outline: none
			padding: .5em 1em
			border: 2px solid #cccccc
			&:focus
				border-color: #6FA6D1

// Animations

// top tooltip animation
@include keyframe(fadeInDown-top)
	0%
		opacity: 0
		z-index: -100
		@include prefix(transform, translate(-50%, -1.5em))
	100%
		opacity: 1
		z-index: 100
		@include prefix(transform, translate(-50%, -.5em))

@include keyframe(fadeInDown-tip-top)
	0%
		opacity: 0
		z-index: -100
		@include prefix(transform, translate(-50%, -1.2em))
	100%
		opacity: 1
		z-index: 100
		@include prefix(transform, translate(-50%, -.2em))

// bottom tooltip animation
@include keyframe(fadeInDown-bottom)
	0%
		opacity: 0
		z-index: -100
		@include prefix(transform, translate(-50%, 1.5em))
	100%
		opacity: 1
		z-index: 100
		@include prefix(transform, translate(-50%, .5em))

@include keyframe(fadeInDown-tip-bottom)
	0%
		opacity: 0
		z-index: -100
		@include prefix(transform, translate(-50%, 1.2em))
	100%
		opacity: 1
		z-index: 100
		@include prefix(transform, translate(-50%, .2em))

// right tooltip animation
@include keyframe(fadeInDown-right)
	0%
		opacity: 0
		z-index: -100
		@include prefix(transform, translate(1.5em, -50%))
	100%
		opacity: 1
		z-index: 100
		@include prefix(transform, translate(.5em, -50%))

@include keyframe(fadeInDown-tip-right)
	0%
		opacity: 0
		z-index: -100
		@include prefix(transform, translate(.8em, 0))
	100%
		opacity: 1
		z-index: 100
		@include prefix(transform, translate(.2em, 0))

// left tooltip animation
@include keyframe(fadeInDown-left)
	0%
		opacity: 0
		z-index: -100
		@include prefix(transform, translate(-1.5em, -50%))
	100%
		opacity: 1
		z-index: 100
		@include prefix(transform, translate(-.5em, -50%))

@include keyframe(fadeInDown-tip-left)
	0%
		opacity: 0
		z-index: -100
		@include prefix(transform, translate(-0.8em, 0))
	100%
		opacity: 1
		z-index: 100
		@include prefix(transform, translate(.2em, 0))


@-webkit-keyframes fadeOutUp-top
	0%
		display: block
	1%
		opacity: 1
		-webkit-transform: translate(-50%, -.5em)
	99%
		opacity: 0
		-webkit-transform: translate(-50%, -1.5em)
	100%
		display: none

$tooltipAttr: tooltip
$triggerAttr: tooltip-trigger
$placementAttr: tooltip-placement

$backgroundColor: rgba(0,0,0,0.8)
$textColor: #fff

[#{$tooltipAttr}]

	position: relative
	&:hover, &:focus
		// must be visible on hover
		overflow: visible
		z-index: 10
	
	&:after, &:before
		position: absolute
		display: none
		opacity: 0
		font: normal .8em Arial, Helvetica, sans-serif
		line-height: 1em
		@include prefix(transition, .5s linear opacity)
	
	&:after 
		content: attr(#{$tooltipAttr})
		bottom: 100%
		left: 50%
		@include prefix(transform, translate(-50%, -.5em))
		background: $backgroundColor
		padding: .5em 1em
		color: $textColor
		text-shadow: 1px 1px 0 #000
		white-space: pre

	&:before 
		height: 0
		width: 0
		top: 0
		left: 50%
		content: ''
		@include prefix(transform, translate(-50%, -.2em))
		border: .4em solid transparent
		border-top-color: $backgroundColor
		margin: -.4em auto
	
	&:not([#{$triggerAttr}="focus"]):hover,
	&:focus
		&:after, &:before
			display: block
			opacity: 1
		&:after
			@include prefix(animation, fadeInDown-top .2s linear)
		&:before
			@include prefix(animation, fadeInDown-tip-top .2s linear)

	&[#{$triggerAttr}="focus"]
		outline: none

	// tooltip placements
	&[#{$placementAttr}="bottom"]
		&:after 
			bottom: initial
			top: 100%
			@include prefix(transform, translate(-50%, .5em))
		
		&:before
			top: initial
			bottom: 0
			@include prefix(transform, translate(-50%, .2em))
			border-color: transparent
			border-bottom-color: $backgroundColor

		&:not([#{$triggerAttr}="focus"]):hover,
		&:focus
			&:after
				@include prefix(animation, fadeInDown-bottom .2s linear)
			&:before
				@include prefix(animation, fadeInDown-tip-bottom .2s linear)

	&[#{$placementAttr}="right"]
		&:after, &:before
			left: 100%
			bottom: initial
			top: 50%
		&:after
			@include prefix(transform, translate( .5em, -50%))
		&:before
			@include prefix(transform, translate( -.2em, 0))
			border-color: transparent
			border-right-color: $backgroundColor
		&:not([#{$triggerAttr}="focus"]):hover,
		&:focus
			&:after
				@include prefix(animation, fadeInDown-right .2s linear)
			&:before
				@include prefix(animation, fadeInDown-tip-right .2s linear)

	&[#{$placementAttr}="left"]
		&:after, &:before
			left: initial
			bottom: initial
			right: 100%
			top: 50%
		&:after
			@include prefix(transform, translate(-.5em, -50%))
		&:before
			@include prefix(transform, translate(.2em, 0))
			border-color: transparent
			border-left-color: $backgroundColor
		&:not([#{$triggerAttr}="focus"]):hover,
		&:focus
			&:after
				@include prefix(animation, fadeInDown-left .2s linear)
			&:before
				@include prefix(animation, fadeInDown-tip-left .2s linear)
