@keyframes fadeInDown-top {
  /* line 6, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, -1.5em);
    -webkit-transform: translate(-50%, -1.5em);
    -moz-transform: translate(-50%, -1.5em);
    -o-transform: translate(-50%, -1.5em);
  }

  /* line 10, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, -0.5em);
    -webkit-transform: translate(-50%, -0.5em);
    -moz-transform: translate(-50%, -0.5em);
    -o-transform: translate(-50%, -0.5em);
  }
}

@-webkit-keyframes fadeInDown-top {
  /* line 6, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, -1.5em);
    -webkit-transform: translate(-50%, -1.5em);
    -moz-transform: translate(-50%, -1.5em);
    -o-transform: translate(-50%, -1.5em);
  }

  /* line 10, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, -0.5em);
    -webkit-transform: translate(-50%, -0.5em);
    -moz-transform: translate(-50%, -0.5em);
    -o-transform: translate(-50%, -0.5em);
  }
}

@-moz-keyframes fadeInDown-top {
  /* line 6, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, -1.5em);
    -webkit-transform: translate(-50%, -1.5em);
    -moz-transform: translate(-50%, -1.5em);
    -o-transform: translate(-50%, -1.5em);
  }

  /* line 10, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, -0.5em);
    -webkit-transform: translate(-50%, -0.5em);
    -moz-transform: translate(-50%, -0.5em);
    -o-transform: translate(-50%, -0.5em);
  }
}

@-o-keyframes fadeInDown-top {
  /* line 6, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, -1.5em);
    -webkit-transform: translate(-50%, -1.5em);
    -moz-transform: translate(-50%, -1.5em);
    -o-transform: translate(-50%, -1.5em);
  }

  /* line 10, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, -0.5em);
    -webkit-transform: translate(-50%, -0.5em);
    -moz-transform: translate(-50%, -0.5em);
    -o-transform: translate(-50%, -0.5em);
  }
}

@keyframes fadeInDown-tip-top {
  /* line 16, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, -1.2em);
    -webkit-transform: translate(-50%, -1.2em);
    -moz-transform: translate(-50%, -1.2em);
    -o-transform: translate(-50%, -1.2em);
  }

  /* line 20, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, -0.2em);
    -webkit-transform: translate(-50%, -0.2em);
    -moz-transform: translate(-50%, -0.2em);
    -o-transform: translate(-50%, -0.2em);
  }
}

@-webkit-keyframes fadeInDown-tip-top {
  /* line 16, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, -1.2em);
    -webkit-transform: translate(-50%, -1.2em);
    -moz-transform: translate(-50%, -1.2em);
    -o-transform: translate(-50%, -1.2em);
  }

  /* line 20, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, -0.2em);
    -webkit-transform: translate(-50%, -0.2em);
    -moz-transform: translate(-50%, -0.2em);
    -o-transform: translate(-50%, -0.2em);
  }
}

@-moz-keyframes fadeInDown-tip-top {
  /* line 16, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, -1.2em);
    -webkit-transform: translate(-50%, -1.2em);
    -moz-transform: translate(-50%, -1.2em);
    -o-transform: translate(-50%, -1.2em);
  }

  /* line 20, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, -0.2em);
    -webkit-transform: translate(-50%, -0.2em);
    -moz-transform: translate(-50%, -0.2em);
    -o-transform: translate(-50%, -0.2em);
  }
}

@-o-keyframes fadeInDown-tip-top {
  /* line 16, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, -1.2em);
    -webkit-transform: translate(-50%, -1.2em);
    -moz-transform: translate(-50%, -1.2em);
    -o-transform: translate(-50%, -1.2em);
  }

  /* line 20, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, -0.2em);
    -webkit-transform: translate(-50%, -0.2em);
    -moz-transform: translate(-50%, -0.2em);
    -o-transform: translate(-50%, -0.2em);
  }
}

@keyframes fadeInDown-bottom {
  /* line 27, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, 1.5em);
    -webkit-transform: translate(-50%, 1.5em);
    -moz-transform: translate(-50%, 1.5em);
    -o-transform: translate(-50%, 1.5em);
  }

  /* line 31, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, 0.5em);
    -webkit-transform: translate(-50%, 0.5em);
    -moz-transform: translate(-50%, 0.5em);
    -o-transform: translate(-50%, 0.5em);
  }
}

@-webkit-keyframes fadeInDown-bottom {
  /* line 27, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, 1.5em);
    -webkit-transform: translate(-50%, 1.5em);
    -moz-transform: translate(-50%, 1.5em);
    -o-transform: translate(-50%, 1.5em);
  }

  /* line 31, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, 0.5em);
    -webkit-transform: translate(-50%, 0.5em);
    -moz-transform: translate(-50%, 0.5em);
    -o-transform: translate(-50%, 0.5em);
  }
}

@-moz-keyframes fadeInDown-bottom {
  /* line 27, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, 1.5em);
    -webkit-transform: translate(-50%, 1.5em);
    -moz-transform: translate(-50%, 1.5em);
    -o-transform: translate(-50%, 1.5em);
  }

  /* line 31, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, 0.5em);
    -webkit-transform: translate(-50%, 0.5em);
    -moz-transform: translate(-50%, 0.5em);
    -o-transform: translate(-50%, 0.5em);
  }
}

@-o-keyframes fadeInDown-bottom {
  /* line 27, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, 1.5em);
    -webkit-transform: translate(-50%, 1.5em);
    -moz-transform: translate(-50%, 1.5em);
    -o-transform: translate(-50%, 1.5em);
  }

  /* line 31, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, 0.5em);
    -webkit-transform: translate(-50%, 0.5em);
    -moz-transform: translate(-50%, 0.5em);
    -o-transform: translate(-50%, 0.5em);
  }
}

@keyframes fadeInDown-tip-bottom {
  /* line 37, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, 1.2em);
    -webkit-transform: translate(-50%, 1.2em);
    -moz-transform: translate(-50%, 1.2em);
    -o-transform: translate(-50%, 1.2em);
  }

  /* line 41, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, 0.2em);
    -webkit-transform: translate(-50%, 0.2em);
    -moz-transform: translate(-50%, 0.2em);
    -o-transform: translate(-50%, 0.2em);
  }
}

@-webkit-keyframes fadeInDown-tip-bottom {
  /* line 37, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, 1.2em);
    -webkit-transform: translate(-50%, 1.2em);
    -moz-transform: translate(-50%, 1.2em);
    -o-transform: translate(-50%, 1.2em);
  }

  /* line 41, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, 0.2em);
    -webkit-transform: translate(-50%, 0.2em);
    -moz-transform: translate(-50%, 0.2em);
    -o-transform: translate(-50%, 0.2em);
  }
}

@-moz-keyframes fadeInDown-tip-bottom {
  /* line 37, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, 1.2em);
    -webkit-transform: translate(-50%, 1.2em);
    -moz-transform: translate(-50%, 1.2em);
    -o-transform: translate(-50%, 1.2em);
  }

  /* line 41, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, 0.2em);
    -webkit-transform: translate(-50%, 0.2em);
    -moz-transform: translate(-50%, 0.2em);
    -o-transform: translate(-50%, 0.2em);
  }
}

@-o-keyframes fadeInDown-tip-bottom {
  /* line 37, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-50%, 1.2em);
    -webkit-transform: translate(-50%, 1.2em);
    -moz-transform: translate(-50%, 1.2em);
    -o-transform: translate(-50%, 1.2em);
  }

  /* line 41, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, 0.2em);
    -webkit-transform: translate(-50%, 0.2em);
    -moz-transform: translate(-50%, 0.2em);
    -o-transform: translate(-50%, 0.2em);
  }
}

@keyframes fadeInDown-right {
  /* line 48, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(1.5em, -50%);
    -webkit-transform: translate(1.5em, -50%);
    -moz-transform: translate(1.5em, -50%);
    -o-transform: translate(1.5em, -50%);
  }

  /* line 52, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(0.5em, -50%);
    -webkit-transform: translate(0.5em, -50%);
    -moz-transform: translate(0.5em, -50%);
    -o-transform: translate(0.5em, -50%);
  }
}

@-webkit-keyframes fadeInDown-right {
  /* line 48, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(1.5em, -50%);
    -webkit-transform: translate(1.5em, -50%);
    -moz-transform: translate(1.5em, -50%);
    -o-transform: translate(1.5em, -50%);
  }

  /* line 52, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(0.5em, -50%);
    -webkit-transform: translate(0.5em, -50%);
    -moz-transform: translate(0.5em, -50%);
    -o-transform: translate(0.5em, -50%);
  }
}

@-moz-keyframes fadeInDown-right {
  /* line 48, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(1.5em, -50%);
    -webkit-transform: translate(1.5em, -50%);
    -moz-transform: translate(1.5em, -50%);
    -o-transform: translate(1.5em, -50%);
  }

  /* line 52, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(0.5em, -50%);
    -webkit-transform: translate(0.5em, -50%);
    -moz-transform: translate(0.5em, -50%);
    -o-transform: translate(0.5em, -50%);
  }
}

@-o-keyframes fadeInDown-right {
  /* line 48, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(1.5em, -50%);
    -webkit-transform: translate(1.5em, -50%);
    -moz-transform: translate(1.5em, -50%);
    -o-transform: translate(1.5em, -50%);
  }

  /* line 52, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(0.5em, -50%);
    -webkit-transform: translate(0.5em, -50%);
    -moz-transform: translate(0.5em, -50%);
    -o-transform: translate(0.5em, -50%);
  }
}

@keyframes fadeInDown-tip-right {
  /* line 58, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(0.8em, 0);
    -webkit-transform: translate(0.8em, 0);
    -moz-transform: translate(0.8em, 0);
    -o-transform: translate(0.8em, 0);
  }

  /* line 62, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(0.2em, 0);
    -webkit-transform: translate(0.2em, 0);
    -moz-transform: translate(0.2em, 0);
    -o-transform: translate(0.2em, 0);
  }
}

@-webkit-keyframes fadeInDown-tip-right {
  /* line 58, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(0.8em, 0);
    -webkit-transform: translate(0.8em, 0);
    -moz-transform: translate(0.8em, 0);
    -o-transform: translate(0.8em, 0);
  }

  /* line 62, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(0.2em, 0);
    -webkit-transform: translate(0.2em, 0);
    -moz-transform: translate(0.2em, 0);
    -o-transform: translate(0.2em, 0);
  }
}

@-moz-keyframes fadeInDown-tip-right {
  /* line 58, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(0.8em, 0);
    -webkit-transform: translate(0.8em, 0);
    -moz-transform: translate(0.8em, 0);
    -o-transform: translate(0.8em, 0);
  }

  /* line 62, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(0.2em, 0);
    -webkit-transform: translate(0.2em, 0);
    -moz-transform: translate(0.2em, 0);
    -o-transform: translate(0.2em, 0);
  }
}

@-o-keyframes fadeInDown-tip-right {
  /* line 58, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(0.8em, 0);
    -webkit-transform: translate(0.8em, 0);
    -moz-transform: translate(0.8em, 0);
    -o-transform: translate(0.8em, 0);
  }

  /* line 62, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(0.2em, 0);
    -webkit-transform: translate(0.2em, 0);
    -moz-transform: translate(0.2em, 0);
    -o-transform: translate(0.2em, 0);
  }
}

@keyframes fadeInDown-left {
  /* line 69, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-1.5em, -50%);
    -webkit-transform: translate(-1.5em, -50%);
    -moz-transform: translate(-1.5em, -50%);
    -o-transform: translate(-1.5em, -50%);
  }

  /* line 73, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-0.5em, -50%);
    -webkit-transform: translate(-0.5em, -50%);
    -moz-transform: translate(-0.5em, -50%);
    -o-transform: translate(-0.5em, -50%);
  }
}

@-webkit-keyframes fadeInDown-left {
  /* line 69, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-1.5em, -50%);
    -webkit-transform: translate(-1.5em, -50%);
    -moz-transform: translate(-1.5em, -50%);
    -o-transform: translate(-1.5em, -50%);
  }

  /* line 73, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-0.5em, -50%);
    -webkit-transform: translate(-0.5em, -50%);
    -moz-transform: translate(-0.5em, -50%);
    -o-transform: translate(-0.5em, -50%);
  }
}

@-moz-keyframes fadeInDown-left {
  /* line 69, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-1.5em, -50%);
    -webkit-transform: translate(-1.5em, -50%);
    -moz-transform: translate(-1.5em, -50%);
    -o-transform: translate(-1.5em, -50%);
  }

  /* line 73, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-0.5em, -50%);
    -webkit-transform: translate(-0.5em, -50%);
    -moz-transform: translate(-0.5em, -50%);
    -o-transform: translate(-0.5em, -50%);
  }
}

@-o-keyframes fadeInDown-left {
  /* line 69, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-1.5em, -50%);
    -webkit-transform: translate(-1.5em, -50%);
    -moz-transform: translate(-1.5em, -50%);
    -o-transform: translate(-1.5em, -50%);
  }

  /* line 73, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(-0.5em, -50%);
    -webkit-transform: translate(-0.5em, -50%);
    -moz-transform: translate(-0.5em, -50%);
    -o-transform: translate(-0.5em, -50%);
  }
}

@keyframes fadeInDown-tip-left {
  /* line 79, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-0.8em, 0);
    -webkit-transform: translate(-0.8em, 0);
    -moz-transform: translate(-0.8em, 0);
    -o-transform: translate(-0.8em, 0);
  }

  /* line 83, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(0.2em, 0);
    -webkit-transform: translate(0.2em, 0);
    -moz-transform: translate(0.2em, 0);
    -o-transform: translate(0.2em, 0);
  }
}

@-webkit-keyframes fadeInDown-tip-left {
  /* line 79, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-0.8em, 0);
    -webkit-transform: translate(-0.8em, 0);
    -moz-transform: translate(-0.8em, 0);
    -o-transform: translate(-0.8em, 0);
  }

  /* line 83, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(0.2em, 0);
    -webkit-transform: translate(0.2em, 0);
    -moz-transform: translate(0.2em, 0);
    -o-transform: translate(0.2em, 0);
  }
}

@-moz-keyframes fadeInDown-tip-left {
  /* line 79, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-0.8em, 0);
    -webkit-transform: translate(-0.8em, 0);
    -moz-transform: translate(-0.8em, 0);
    -o-transform: translate(-0.8em, 0);
  }

  /* line 83, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(0.2em, 0);
    -webkit-transform: translate(0.2em, 0);
    -moz-transform: translate(0.2em, 0);
    -o-transform: translate(0.2em, 0);
  }
}

@-o-keyframes fadeInDown-tip-left {
  /* line 79, ../sass/pure-tooltip.sass */
  0% {
    opacity: 0;
    z-index: -100;
    transform: translate(-0.8em, 0);
    -webkit-transform: translate(-0.8em, 0);
    -moz-transform: translate(-0.8em, 0);
    -o-transform: translate(-0.8em, 0);
  }

  /* line 83, ../sass/pure-tooltip.sass */
  100% {
    opacity: 1;
    z-index: 100;
    transform: translate(0.2em, 0);
    -webkit-transform: translate(0.2em, 0);
    -moz-transform: translate(0.2em, 0);
    -o-transform: translate(0.2em, 0);
  }
}

@-webkit-keyframes fadeOutUp-top {
  /* line 90, ../sass/pure-tooltip.sass */
  0% {
    display: block;
  }

  /* line 92, ../sass/pure-tooltip.sass */
  1% {
    opacity: 1;
    -webkit-transform: translate(-50%, -0.5em);
  }

  /* line 95, ../sass/pure-tooltip.sass */
  99% {
    opacity: 0;
    -webkit-transform: translate(-50%, -1.5em);
  }

  /* line 98, ../sass/pure-tooltip.sass */
  100% {
    display: none;
  }
}

/* line 108, ../sass/pure-tooltip.sass */
[tooltip] {
  position: relative;
}
/* line 111, ../sass/pure-tooltip.sass */
[tooltip]:hover, [tooltip]:focus {
  overflow: visible;
  z-index: 10;
}
/* line 116, ../sass/pure-tooltip.sass */
[tooltip]:after, [tooltip]:before {
  position: absolute;
  display: none;
  opacity: 0;
  font: normal 0.8em Arial, Helvetica, sans-serif;
  line-height: 1em;
  transition: 0.5s linear opacity;
  -webkit-transition: 0.5s linear opacity;
  -moz-transition: 0.5s linear opacity;
  -o-transition: 0.5s linear opacity;
}
/* line 124, ../sass/pure-tooltip.sass */
[tooltip]:after {
  content: attr(tooltip);
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -0.5em);
  -webkit-transform: translate(-50%, -0.5em);
  -moz-transform: translate(-50%, -0.5em);
  -o-transform: translate(-50%, -0.5em);
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5em 1em;
  color: white;
  text-shadow: 1px 1px 0 black;
  white-space: pre;
}
/* line 135, ../sass/pure-tooltip.sass */
[tooltip]:before {
  height: 0;
  width: 0;
  top: 0;
  left: 50%;
  content: "";
  transform: translate(-50%, -0.2em);
  -webkit-transform: translate(-50%, -0.2em);
  -moz-transform: translate(-50%, -0.2em);
  -o-transform: translate(-50%, -0.2em);
  border: 0.4em solid transparent;
  border-top-color: rgba(0, 0, 0, 0.8);
  margin: -0.4em auto;
}
/* line 148, ../sass/pure-tooltip.sass */
[tooltip]:not([tooltip-trigger="focus"]):hover:after, [tooltip]:not([tooltip-trigger="focus"]):hover:before, [tooltip]:focus:after, [tooltip]:focus:before {
  display: block;
  opacity: 1;
}
/* line 151, ../sass/pure-tooltip.sass */
[tooltip]:not([tooltip-trigger="focus"]):hover:after, [tooltip]:focus:after {
  animation: fadeInDown-top 0.2s linear;
  -webkit-animation: fadeInDown-top 0.2s linear;
  -moz-animation: fadeInDown-top 0.2s linear;
  -o-animation: fadeInDown-top 0.2s linear;
}
/* line 153, ../sass/pure-tooltip.sass */
[tooltip]:not([tooltip-trigger="focus"]):hover:before, [tooltip]:focus:before {
  animation: fadeInDown-tip-top 0.2s linear;
  -webkit-animation: fadeInDown-tip-top 0.2s linear;
  -moz-animation: fadeInDown-tip-top 0.2s linear;
  -o-animation: fadeInDown-tip-top 0.2s linear;
}
/* line 156, ../sass/pure-tooltip.sass */
[tooltip][tooltip-trigger="focus"] {
  outline: none;
}
/* line 161, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="bottom"]:after {
  bottom: inherit;
  top: 100%;
  transform: translate(-50%, 0.5em);
  -webkit-transform: translate(-50%, 0.5em);
  -moz-transform: translate(-50%, 0.5em);
  -o-transform: translate(-50%, 0.5em);
}
/* line 166, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="bottom"]:before {
  bottom: inherit;
  top: 100%;
  transform: translate(-50%, 0.2em);
  -webkit-transform: translate(-50%, 0.2em);
  -moz-transform: translate(-50%, 0.2em);
  -o-transform: translate(-50%, 0.2em);
  border-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
/* line 175, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="bottom"]:not([tooltip-trigger="focus"]):hover:after, [tooltip][tooltip-placement="bottom"]:focus:after {
  animation: fadeInDown-bottom 0.2s linear;
  -webkit-animation: fadeInDown-bottom 0.2s linear;
  -moz-animation: fadeInDown-bottom 0.2s linear;
  -o-animation: fadeInDown-bottom 0.2s linear;
}
/* line 177, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="bottom"]:not([tooltip-trigger="focus"]):hover:before, [tooltip][tooltip-placement="bottom"]:focus:before {
  animation: fadeInDown-tip-bottom 0.2s linear;
  -webkit-animation: fadeInDown-tip-bottom 0.2s linear;
  -moz-animation: fadeInDown-tip-bottom 0.2s linear;
  -o-animation: fadeInDown-tip-bottom 0.2s linear;
}
/* line 181, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="right"]:after, [tooltip][tooltip-placement="right"]:before, [tooltip][tooltip-placement="after"]:after, [tooltip][tooltip-placement="after"]:before {
  left: 100%;
  bottom: inherit;
  top: 50%;
}
/* line 185, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="right"]:after, [tooltip][tooltip-placement="after"]:after {
  transform: translate(0.5em, -50%);
  -webkit-transform: translate(0.5em, -50%);
  -moz-transform: translate(0.5em, -50%);
  -o-transform: translate(0.5em, -50%);
}
/* line 187, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="right"]:before, [tooltip][tooltip-placement="after"]:before {
  transform: translate(-0.2em, 0);
  -webkit-transform: translate(-0.2em, 0);
  -moz-transform: translate(-0.2em, 0);
  -o-transform: translate(-0.2em, 0);
  border-color: transparent;
  border-right-color: rgba(0, 0, 0, 0.8);
}
/* line 193, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="right"]:not([tooltip-trigger="focus"]):hover:after, [tooltip][tooltip-placement="right"]:focus:after, [tooltip][tooltip-placement="after"]:not([tooltip-trigger="focus"]):hover:after, [tooltip][tooltip-placement="after"]:focus:after {
  animation: fadeInDown-right 0.2s linear;
  -webkit-animation: fadeInDown-right 0.2s linear;
  -moz-animation: fadeInDown-right 0.2s linear;
  -o-animation: fadeInDown-right 0.2s linear;
}
/* line 195, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="right"]:not([tooltip-trigger="focus"]):hover:before, [tooltip][tooltip-placement="right"]:focus:before, [tooltip][tooltip-placement="after"]:not([tooltip-trigger="focus"]):hover:before, [tooltip][tooltip-placement="after"]:focus:before {
  animation: fadeInDown-tip-right 0.2s linear;
  -webkit-animation: fadeInDown-tip-right 0.2s linear;
  -moz-animation: fadeInDown-tip-right 0.2s linear;
  -o-animation: fadeInDown-tip-right 0.2s linear;
}
/* line 199, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="left"]:after, [tooltip][tooltip-placement="left"]:before, [tooltip][tooltip-placement="before"]:after, [tooltip][tooltip-placement="before"]:before {
  left: inherit;
  bottom: inherit;
  right: 100%;
  top: 50%;
}
/* line 204, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="left"]:after, [tooltip][tooltip-placement="before"]:after {
  transform: translate(-0.5em, -50%);
  -webkit-transform: translate(-0.5em, -50%);
  -moz-transform: translate(-0.5em, -50%);
  -o-transform: translate(-0.5em, -50%);
}
/* line 206, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="left"]:before, [tooltip][tooltip-placement="before"]:before {
  transform: translate(0.2em, 0);
  -webkit-transform: translate(0.2em, 0);
  -moz-transform: translate(0.2em, 0);
  -o-transform: translate(0.2em, 0);
  border-color: transparent;
  border-left-color: rgba(0, 0, 0, 0.8);
}
/* line 212, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="left"]:not([tooltip-trigger="focus"]):hover:after, [tooltip][tooltip-placement="left"]:focus:after, [tooltip][tooltip-placement="before"]:not([tooltip-trigger="focus"]):hover:after, [tooltip][tooltip-placement="before"]:focus:after {
  animation: fadeInDown-left 0.2s linear;
  -webkit-animation: fadeInDown-left 0.2s linear;
  -moz-animation: fadeInDown-left 0.2s linear;
  -o-animation: fadeInDown-left 0.2s linear;
}
/* line 214, ../sass/pure-tooltip.sass */
[tooltip][tooltip-placement="left"]:not([tooltip-trigger="focus"]):hover:before, [tooltip][tooltip-placement="left"]:focus:before, [tooltip][tooltip-placement="before"]:not([tooltip-trigger="focus"]):hover:before, [tooltip][tooltip-placement="before"]:focus:before {
  animation: fadeInDown-tip-left 0.2s linear;
  -webkit-animation: fadeInDown-tip-left 0.2s linear;
  -moz-animation: fadeInDown-tip-left 0.2s linear;
  -o-animation: fadeInDown-tip-left 0.2s linear;
}

/* line 221, ../sass/pure-tooltip.sass */
.rtl [tooltip][tooltip-placement="before"]:after, .rtl [tooltip][tooltip-placement="before"]:before {
  left: 100%;
  bottom: inherit;
  right: inherit;
  top: 50%;
}
/* line 226, ../sass/pure-tooltip.sass */
.rtl [tooltip][tooltip-placement="before"]:after {
  transform: translate(0.5em, -50%);
  -webkit-transform: translate(0.5em, -50%);
  -moz-transform: translate(0.5em, -50%);
  -o-transform: translate(0.5em, -50%);
}
/* line 228, ../sass/pure-tooltip.sass */
.rtl [tooltip][tooltip-placement="before"]:before {
  transform: translate(-0.2em, 0);
  -webkit-transform: translate(-0.2em, 0);
  -moz-transform: translate(-0.2em, 0);
  -o-transform: translate(-0.2em, 0);
  border-color: transparent;
  border-right-color: rgba(0, 0, 0, 0.8);
}
/* line 234, ../sass/pure-tooltip.sass */
.rtl [tooltip][tooltip-placement="before"]:not([tooltip-trigger="focus"]):hover:after, .rtl [tooltip][tooltip-placement="before"]:focus:after {
  animation: fadeInDown-right 0.2s linear;
  -webkit-animation: fadeInDown-right 0.2s linear;
  -moz-animation: fadeInDown-right 0.2s linear;
  -o-animation: fadeInDown-right 0.2s linear;
}
/* line 236, ../sass/pure-tooltip.sass */
.rtl [tooltip][tooltip-placement="before"]:not([tooltip-trigger="focus"]):hover:before, .rtl [tooltip][tooltip-placement="before"]:focus:before {
  animation: fadeInDown-tip-right 0.2s linear;
  -webkit-animation: fadeInDown-tip-right 0.2s linear;
  -moz-animation: fadeInDown-tip-right 0.2s linear;
  -o-animation: fadeInDown-tip-right 0.2s linear;
}
/* line 240, ../sass/pure-tooltip.sass */
.rtl [tooltip][tooltip-placement="after"]:after, .rtl [tooltip][tooltip-placement="after"]:before {
  left: inherit;
  bottom: inherit;
  right: 100%;
  top: 50%;
}
/* line 245, ../sass/pure-tooltip.sass */
.rtl [tooltip][tooltip-placement="after"]:after {
  transform: translate(-0.5em, -50%);
  -webkit-transform: translate(-0.5em, -50%);
  -moz-transform: translate(-0.5em, -50%);
  -o-transform: translate(-0.5em, -50%);
}
/* line 247, ../sass/pure-tooltip.sass */
.rtl [tooltip][tooltip-placement="after"]:before {
  transform: translate(0.2em, 0);
  -webkit-transform: translate(0.2em, 0);
  -moz-transform: translate(0.2em, 0);
  -o-transform: translate(0.2em, 0);
  border-color: transparent;
  border-left-color: rgba(0, 0, 0, 0.8);
}
/* line 253, ../sass/pure-tooltip.sass */
.rtl [tooltip][tooltip-placement="after"]:not([tooltip-trigger="focus"]):hover:after, .rtl [tooltip][tooltip-placement="after"]:focus:after {
  animation: fadeInDown-left 0.2s linear;
  -webkit-animation: fadeInDown-left 0.2s linear;
  -moz-animation: fadeInDown-left 0.2s linear;
  -o-animation: fadeInDown-left 0.2s linear;
}
/* line 255, ../sass/pure-tooltip.sass */
.rtl [tooltip][tooltip-placement="after"]:not([tooltip-trigger="focus"]):hover:before, .rtl [tooltip][tooltip-placement="after"]:focus:before {
  animation: fadeInDown-tip-left 0.2s linear;
  -webkit-animation: fadeInDown-tip-left 0.2s linear;
  -moz-animation: fadeInDown-tip-left 0.2s linear;
  -o-animation: fadeInDown-tip-left 0.2s linear;
}
