header
	h1.tooltip-head Pure CSS tooltips
	nav
		ul
			li(data-ng-class="{active: activePage=='demo'}")
				a(href="/demo") DEMO
			li(data-ng-class="{active: activePage=='diy'}")
				a(href="/diy") DIY