doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Pure CSS Tooltips
		link(rel="stylesheet", href="css/style.css")
		script(src="js/script.min.js")
	body(data-ng-app="app")
		#wrapper
			div(data-ng-view)
			a.fork(href="https://github.com/treeskar/pure-tooltip", target="_blank", title="Fork me on GitHub")
